span {
    font-size: inherit; /* 强制继承父元素的字体大小 */
}

body {
    margin: 0;
    padding: 0;
    background-color: #0E0E13;
}

.work-info{
    text-align: center;
    display: flex;
    flex-direction: column;
    /* width: 90%; */
    align-items: center;
    padding-bottom: 100px;
}

.work-title{
    font-size: 32px;
    letter-spacing: -.0325em;
    font-style: normal;
    background: linear-gradient(180deg, #E8E8F6 0%, rgba(232, 232, 246, 0.72) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-weight: 900;
    padding: 200px 20% 100px 20%;
}

.work-description{
    font-size: 14px;
    color: #ffffff89;
    text-align: left;
    /* font-style: italic; */
    font-weight: 300;
    padding: 0 20%;
}

.work-description a {
    font-size: 14px;
    text-decoration: none; /* 去除默认下划线 */
    color: #ffffff89;
    transition: color 0.5s ease-in-out;
    }
    .work-description a:hover {
    color: #6361DC; /* 鼠标悬浮时改变文字颜色 */
    cursor: pointer; /* 鼠标悬浮时改变光标形状 */
    }

.work-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap:14vw;
    padding-top: 100px;
    padding-bottom: 100px;

}

.work-detail-card{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.work-detail-title{
    font-size: 14px;
    color: #ffffffAA;
    text-align: left;
    font-style: italic;
    font-weight: 200;
}

.work-detail-item{
    font-size: 14px;
    color: #ffffffBB;
    text-align: left;
    font-style: normal;
    font-weight: 400;
}

.work-detail-item a {
font-size: 14px;
text-decoration: none; /* 去除默认下划线 */
color: #ffffffBB;
transition: color 0.5s ease;
}
.work-detail-item a:hover {
color: #6361DC; /* 鼠标悬浮时改变文字颜色 */
cursor: pointer; /* 鼠标悬浮时改变光标形状 */
}



.mouse{
    transition: all 0.3s ease;
    transform: translateY (0);
}

.mouse:hover{
    transform: scale(1.05);
    animation: mouseMove 1s  infinite;
}

/* main-container包含作品以及outline */
.main-container{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    padding: 0;
    margin: 0 auto 200px auto;
    flex-shrink: 1;
    /* width记得与form的margin匹配 */
    width: 94%;
    /* 默认宽度为 */
}
.work-outline{
    display: flex;
    flex-direction: column;
    background-color: #8383830d;
    /* width: fit-content; */
    min-width: 350px;
    max-width: 400px;
    position: sticky;
    top: 100px; /* 粘性元素在视口顶部 */
    height: fit-content;
    padding: 0 10px;
    border-radius: 20px;
}

.work-outline-title{
    display:flex ;
    justify-content: center;
    font-size: 17px;
    color: rgba(245, 245, 245, 0.636);
    margin: 30px auto;

}
.work-outline-content{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
    padding-bottom: 20px;
}
.work-outline-content-item{
    align-items: stretch;
    display: flex;
    text-align: left;
    font-size:14px;
    border-radius: 10px;
    padding: 6px 20px;
    color: #8a8f98;
    letter-spacing: -0.18px;
    backdrop-filter: blur(10px); /*背景虚化*/
    transition: all 0.3s ease-in-out;
}

.work-outline-content-item:hover{
    background-color: #ffffff19;
    /* color: #abb2be; */
    color: #6361DD;
}

.work-outline-content-item:active {
    transform: scale(0.95); /* 按下时缩小 */
}

.right-column{
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0E0E13;
    /* 容器背景色为纯白色 */
    /* 默认宽度为 */
    border-radius: 20px;
    overflow: hidden;
    gap: 1px;
}

img {
    margin: 0;
    padding: 0;
    width: 100%;
    
}
.form{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;

}


@media only screen and (max-width: 1280px) {
    .container {
        width: 100%;
        /* 在小于1280px时宽度为100% */
    }
}

/* 媒体查询：当视口宽度小于 600px 时 */
@media (max-width: 600px) {

    .work-outline {
        display: none; /* 隐藏outline元素 */
    }

    .work-detail{ /*作者信息三栏*/
        flex-direction: column ;
        gap: vh;
    }
}

@keyframes mouseMove {
    0% {
        transform: translateY(0) scale(1);
        filter: blur(0);
    }
    50% {
        transform: translateY(10px) scale(0.95);
        filter: blur(1px);
        opacity: 0.8; /* 可以选择让图标变得透明 */
    }
    100% {
        transform: translateY(0) scale(1);
        filter: blur(0);
        opacity: 1;
    }
}